<div class="container pt-6">
    <div class="row">
        <div class="col-5">
            <ul class="list-group" >
                <li class="list-group-item">
                    <img src="" alt="">
                    <br>

                </li>

                <li class="list-group-item"><strong>Mise en circulation</strong>:
                </li>
                <li class="list-group-item"> <strong> Puissance : </strong>

                </li>
                <li class="list-group-item"> <strong> Automatique : </strong>
                    <input type="checkbox" disabled >
                </li>

                <li class="list-group-item">
                    <strong>Liste des accessoires:</strong>


                </li>

                <li class="list-group-item">
                    <button type="button" class="btn btn-warning" >
                        <i class="fa-sharp fa-solid fa-pen"></i>
                         Modifier</button>
                    <button type="button" class="btn btn-secondary" >
                        <i class="fa-solid fa-rotate-left"></i>
                        Retour
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-7" >
          
        </div>
    </div>    
</div>