<div class="container">
    <h3>Voiture num </h3>
    <div class="d-flex justify-content-between">
        <div>
            <img  alt="photo">
            <strong>Marque</strong>: 
            <strong>Modèle</strong>: 
        </div>
        <div>
            <button type="button"  class="btn btn-success">
                <i class="fa-solid fa-circle-info"></i> 
                Détails  
            </button>
            <button type="button" class="btn btn-secondary">
                <i class="fa-solid fa-trash-can"></i>
                Supprimer
            </button>
        </div>  
    </div>
  
</div>


