<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link">Accueil</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" >Liste des voitures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Ajout d'une voiture</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" >Déconnexion</a>
        </li>
      </ul>
    </div>
  </nav>

