<div class="container">
  <h3>Ajout d'un produit</h3>
  <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
    <div>
      <label> Identifiant du produit </label>
      <input
        class="form-control"
        type="number"
        name="id"
        formControlName="id"
      />
    </div>
    <div>
      <label>Libellé</label>
      <input
        class="form-control"
        type="text"
        name="lib"
        formControlName="libelle"
      />
    </div>
    <div>
      <label>Prix</label>
      <input
        class="form-control"
        type="number"
        name="prix"
        formControlName="prix"
      />
    </div>

    <div>
      <label> Made In </label>
      <label>
        <input
          type="radio"
          name="madeIn"
          value="Tunisie"
          formControlName="madeIn"
        />Tunisie
      </label>
      <label>
        <input
          type="radio"
          name="madeIn"
          value="Autre"
          formControlName="madeIn"
        />Autre
      </label>
    </div>
    <div>
      <label>Catégorie</label>
      <select
        class="form-select"
        formControlName="categorie"
        name="selCategories"
      >
        <option *ngFor="let category of lescategories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>
    <div>
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="checkbox"
          name="nouv"
          formControlName="nouveau"
        />
        Nouveau
      </label>
    </div>
    <h5>Definition des points de vente</h5>
    <div formArrayName="pointsVente">
      <div *ngFor="let pv of lesPointsVente.controls; index as i">
        <label>Point de vente n°{{ i + 1 }}</label>
        <input class="form-control" type="text" [formControlName]="i" />
      </div>
    </div>
    <input
      type="button"
      value="Ajouter un point de vente"
      class="btn btn-secondary btn-sm"
      (click)="onAjouter()"
    />
    <input
      type="button"
      class="btn btn-danger"
      (click)="onVider()"
      value="vider"
    />
    <input class="btn btn-success" type="submit" value="Ajouter" />
    <input
      class="btn btn-warning"
      type="button"
      (click)="onResetForm()"
      value="Effacer"
    />
  </form>
</div>
<div class="container mt-5">
  {{ lesproduits | json }}
</div>
