img {
    width:150px;
    height: 80px;
}
.bordure {
    border: 4px solid black; /* Ajoute une bordure noire de 1 pixel */
    padding: 10px; /* Ajoute un espacement interne de 10 pixels */
  }