<h5>Modification des informations de la voiture</h5>
<form>
    <label for="">Id Voiture</label>
    <input type="text" readonly class="form-control" >
    <div >
        <label>Marque:</label>
        <select class="form-control">

        </select>
        <label>Modèle:</label>
        <input type="text" class="form-control" >
        <label>Immatriculation:</label>
        <input type="text" class="form-control" >
    </div>
    <label>Puissance:</label>
    <input type="number" class="form-control">
    <label>Photo:</label>
    <input type="text" class="form-control">

    <label>Date de mise en ciculation:</label>
    <input type="date" class="form-control" >
    <label>Mode Automatique</label>
    <input type="checkbox" >

    <div>
        Liste des accesoires
        <div>

            <input type="button" class="btn btn-dark" value="+"> 
        </div>
    </div>
    <div>
        <input type="submit" value="Modifier" class="btn btn-warning">
    </div>
</form>



