<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="/presentation"
        >presentation</a
      >
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="/livres"
        >Liste de livres</a
      >
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" class="nav-link" routerLink="/contact-us"
        >a propos de Nous</a
      >
    </li>
  </ul>
</nav>
