<div class="container">
    <h2> Ajout d'une voiture</h2>
    <form >
        <div>
            <label>Marque:</label>
            <select class="form-control">
              
            </select>
            <label>Modèle:</label>
            <input type="text" class="form-control" >

            <label>Immatriculation:</label>
            <input type="text" class="form-control" >

        </div>
        <label>Puissance:</label>
        <input type="number" class="form-control" >
        <label>Photo:</label>
        <input type="text" class="form-control">

        <label>Date de mise en ciculation:</label>
        <input type="date" class="form-control" >
        <label>Mode Automatique</label>
        <input type="checkbox" >

        <div>
            Liste des accesoires
            <div >

                <input type="button" class="btn btn-dark" value="+">
            </div>
        </div>
        <div>
            <button type="submit"  class="btn btn-warning">
                <i class="fa-solid fa-square-plus"></i>
                Ajouter
            </button>
            <button type="button" class="btn btn-secondary" >
                <i class="fa-solid fa-trash"></i>
                Effacer
            </button>
        </div>
    </form>
</div>