<div class="container">
    <h2> Ajout d'un employé</h2>
    <form>
        <div>
            <label> Donnez le matricule</label>
            <input type="text">
        </div>

        <div>
            <label> Donnez le nom</label>
            <input type="text">
        </div>
        
         <div class="p-2 bg-light rounded">
            <strong>Affiliation</strong>
            <div>
                <div>
                    <label> Choisissez le département</label>
                    <input type="radio"  value="TI"> IT
                    <input type="radio" value="Finance"> Finance
                </div>
                <div>
                    <label> Donnez la fonction</label>
                </div>
            </div>
        </div>
       
        <strong>Liste des diplômes</strong>
    <br>
        <button class="btn btn-primary">Ajouter Employé</button>
        <input type="button" class="btn btn-secondary" value="Vider">
    </form>
</div>
<app-listemployes></app-listemployes>